<!-- PAGE FOR ALL ANIMAL DATA TO BE SEARCHED AND FILTERED VIA PARAMETERS-->

<!-- 

To-do list
- Function for user input/adding to the list of data
- Function for searching the list of data
- Function for uploading images

-->

<!-- User input function -->

<!DOCTYPE html>
<html>
    <head>
        <title>Wildlife Data Form</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" href="styles/images/logo/UWP/ABZ_icon256.png">
        <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
        <link rel="stylesheet" href="css/main.css"/>
        <script src="js/geo.js"></script>
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>
            <div class="search">
                <form action="/search" method="post">
                    <input type="search" name="searchWild" placeholder="Search (Species)">
                    <input type="submit" value="Search">
                </form>
            </div>
           <div>
            <!-- <%= searchResult %> -->
                <table>
                    <tr>
                        <th>Observation</th>
                        <th>Wildlife Img</th>
                        <th>Species</th>
                        <th>Location</th>
                        <th>Username</th>
                        <th>Date</th>
                    </tr>
                <% wildlife.forEach(function(wildlife) { %>
                    <tr>
                        <td><%= wildlife.wildlifeObservations %></td>
                        <td><%= wildlife.wildImage %></td>
                            <td><%= wildlife.species %></td>
                            <td><%= wildlife.Location %></td>
                            <td><%= wildlife.username %></td>
                            <td><%= wildlife.date %></td>
                        </tr>
                <% }); %>
            </div> 
        </main>
        
    </body>
</html>